

.button {
	font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
	padding: 0.5em 1em;
	color: white;
	border: 2px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}
.primary {
	background-color: #1890ff;
}
.secondary {
	background-color: #00aaff;
}
.outline {
	background-color: transparent;
	color: $buttonPrimaryDark;
	border: 1px solid $buttonOutlineLight;
	&:hover:not(:disabled) {
		color: $accent;
		border-color: $accent;
	}
	&:active:not(:disabled) {
		color: $accentLight;
		border-color: $accentLight;
	}
	&:focus:not(:disabled) {
		outline: 2px solid $buttonOutlineDark;
	}
}

.link{
    font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
	cursor: pointer;
}
