@import './_variables.scss';

body {
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $fontWeightRegular;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
    color: #535bf2;
}

